.mana-icon {
    -fx-fit-to-width: 20px;
    -fx-max-width: 20px;
}
.card-title {
    -fx-pref-width: 500px;
    -fx-alignment: center;
}
.card-lore-text {
    -fx-font-style: italic;
    -fx-wrap-text: true;
    -fx-pref-height: 220px;
}
.url-field {
    -fx-pref-width: 500px;
}