#status-bar {
    position: absolute;
    bottom: 0;
    height: 5%;
    width: 100%;
    background: blanchedalmond;
}
#status-bar button {
    color: azure;
}

#status-bar button text {
    fill: #333333;
}