#status-bar {
    position: absolute;
    bottom: 0;
    height: 5%;
    width: 100%;
    background: #eeeeee;
    padding: 2px;
}
#status-bar .button {
    background-color: #dddddd;
    color: #333333;
    opacity: 1;
}
