#status-bar {
    position: absolute;
    bottom: 0;
    height: 5vh;
    width: 100vw;
    background: #eeeeee;
}
#status-bar .button {
    background-color: #dddddd;
    color: #333333;
    opacity: 1;
}

.card-image {
    height: 35vh;
}

.card-main-flex {
    padding: 10px;
}

.card-left-flex {
    flex-flow: column;
    align-items: end;
    padding: 10px;
    width: 30vw;
}

.card-middle-flex {
    flex-flow: column;
}

.composite-field {
    flex-flow: row;
    justify-content: center;
}

.mana-ico {
    height: 15px;
}

.selection-section {
    display: flex;
    height: 30vh;
}

HomeView {
    display: flex;
    flex-direction: column;
    height: 68vh;
}

SetSelector {
    display: flex;
    flex-flow: column;
    width: 20vw;
    margin: auto;
}

CardsTable {
    width: 78vw;
    margin: auto;
}

CardViewer {
    height: 60vh;
    width: 100vw;
    margin: auto 0;
}

.title {
    text-align: center;
}
